:root {
    --grey-blue: #666CA3;
    --dark-blue: #13183F;
    --grey: #83869A;
    --pink: #F74780;
    --light-pink: #FFA7C3;
    --white: #FFFFFF;
    --gradient1: linear-gradient(#FF6F48, #F02AA6);
    --gradient2: linear-gradient(#4851FF, #F02AA6);

    --font-body: "Plus Jakarta Sans", sans-serif;

    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-lgr: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 2.5rem;

    --line-base: 26px;
    --line-lg: 32px;
    --line-xl: 51px;

    --xbold: 800;
    --bold: 700;
    --medium: 500;

    --side-spacing: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-body);

    & .btn {
        text-decoration: none;
        font-size: var(--text-base);
        font-weight: var(--bold);
        color: var(--white);
        padding: 12px 24px;
        border-radius: 28px;
    }
}


header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px var(--side-spacing) 0;

    & img {
        max-width: 90px;
    }

    
}

header {
    margin-bottom: 38px;

    & .btn {
        background: var(--dark-blue);
    }
}

main {
    background: linear-gradient(var(--white), #f0f1ff);

    & .hero {
        & > *:not(.image-wrapper) {
            margin: 0 var(--side-spacing);
        }
    }

    & .hero {
        & .image-wrapper {
            overflow: hidden;

            & img {
                max-width: 100%;
                transform: scale(1.2); /* Compensating for png white-space */
            }
        }

        & > div:first-child {
            margin-bottom: 60px;

            & h1 {
                font-size: var(--text-2xl);
                font-weight: var(--xbold);
                line-height: var(--line-xl);
                color: var(--dark-blue);
                margin-bottom: 24px;
            }

            & p {
                font-size: var(--text-base);
                font-weight: var(--medium);
                line-height: var(--line-base);
                color: var(--grey);
                margin-bottom: 48px;
            }

            & .btn {
                background: var(--gradient1);
                padding: 15px 37px;
                border-radius: 31.5px;
                margin-bottom: 24px;
            }
        } 
    }

    & .courses {
        display: grid;
        grid-template-rows: 120px;
        grid-auto-rows: 285px;
        gap: 16px;
        padding-bottom: 80px;
        margin: 0 var(--side-spacing);

        & > div:first-child {
            background: var(--gradient1);
            padding: 24px 28px 32px;
            border-radius: 10px;
            grid-row: span 1;

            & h2 {
                color: var(--white);
                font-size: var(--text-xl);
                font-weight: var(--xbold);
                line-height: var(--line-lg);
            }
        }

        & .course {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 28px;
            background: var(--white);
            border-radius: 10px;
            box-shadow: 0 25px 50px 0 rgba(6, 22, 141, 0.044);

            &::before {
                position: absolute;
                height: 56px;
                width: 56px;
                top: -28px;
                left: 28px;
            }

            &.animation::before {
                content: url(../assets/icon-animation.svg); 
            }

            &.design::before {
                content: url(../assets/icon-design.svg); 
            }

            &.photography::before {
                content: url(../assets/icon-photography.svg); 
            }

            &.crypto::before {
                content: url(../assets/icon-crypto.svg); 
            }

            &.business::before {
                content: url(../assets/icon-business.svg); 
            }

            & .wrapper {
                padding: 0 28px;
                
                & h3 {
                    font-size: var(--text-lgr);
                    color: var(--dark-blue);
                    font-weight: var(--xbold);
                    margin-bottom: 16px;
                }

                & p {
                    font-size: var(--text-base);
                    color: var(--grey);
                    font-weight: var(--medium);
                    line-height: var(--line-base);
                    margin-bottom: 24px;
                }

                & a {
                    text-decoration: none;
                    color: var(--pink);
                    font-size: var(--text-lg);
                    line-height: var(--line-base);
                    font-weight: var(--bold);
                }
            }
        }
    }
    
}

footer {
    background: var(--dark-blue);
    padding-block: 36px;

    & .btn {
        background: var(--gradient2);
    }
}

@media (48em <= width <= 64em) {
    :root {
        --side-spacing: 40px;
    }
    
    .container {
        overflow: hidden;
    }
    header {
        padding-block: 24px 0;
        position: relative;
        z-index: 9;
    }

    main {
        position: relative;
        & .hero {
            display: grid;
            grid-template-columns: 3fr 2fr;
            
            & > div:first-child {
                margin: 60px 20px 60px var(--side-spacing);
            }

            & .image-wrapper {
                position: relative;
                z-index: 2;
                overflow: visible;
                margin-top: -10px;

                & img {
                    content: url(../assets/image-hero-tablet@2x.png);
                    position: absolute;
                    top: 0;
                    right: 60px;
                    height: auto;
                    transform: scale(2);
                    transform-origin: 0;
                    overflow: visible;
                }
            }
        }

        & .courses {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 285px;
            column-gap: 10px;

            & > div:first-child {
                margin-top: 24px;
                padding-top: 12.5%;
            }

            & .course {
                & .wrapper {
                    padding: 0 22px 0 32px;
                }
            }
        }

    }
}